* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-size: 1.16em;
  color: #245;
}

.container {
  width: 88%;
  margin: 0 auto;
}

/* header */

.introduction {
  padding: 4rem 0 2.6rem 0;
}

.title {
  font-family: "Yeseva One", sans-serif;
  font-size: 2rem;
  text-transform: lowercase;
  margin: 0 0 2.6rem 0;
}

.title::before {
  content: url('../assets/brand-yellow.svg');
  background-repeat: no-repeat;
  margin: 0 1.3rem 0 0;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 1.3rem 0;
}

p {
  padding: 0 0 1rem 0;
}

.skills {
  background-color: #f8f8f8;
  padding: 4rem 0 1.3rem 0;
}

ul {
  margin: 0 0 2.6rem 1.6rem;
}

li {
  padding: 0 0 0.2rem 0;
}

.portfolio {
  padding: 4rem 0 0 0;
}

.projects-list {
  list-style-type: none;
  margin: 0 0 4rem 0;
}

.projects-list img {
  margin: 0 0 1.3rem 0;
}

.projects-list small {
  display: block;
  font-size: 1rem;
  font-style: italic;
  margin: 0 0 1rem 0;
}

.project-item {
  margin: 0 0 2rem 0;
}

.title-tools {
  font-size: 1.16rem;
  margin: 1rem 0 1.16rem 0;
}

.tools-list {
  list-style-type: disc;
  margin-bottom: 2rem;
}

.button-project {
  display: inline-block;
  background-color: #fff;
  color: #5cb;
  border: 2px solid #5cb;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem 1.6rem;
  transition: background-color 0.4s, color 0.4s;
}

.button-project:hover,
.button-project:active {
  background-color: #5cb;
  color: #fff;
}

/*
@media screen and (min-width: 481px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}
*/