* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

.container {
  width: 90vw;
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 95vw;
  }
}

h1 {
  font-family: "Play", sans-serif;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 4em;
}

h1 .firstname {
  color: #6ac;
}

h1 .lastname {
  color: #27a;
}

.roles {
  list-style: none;
  text-transform: lowercase;
  padding: 1em 0 2em 0;
  font-size: 1.4em;
}

.roles li {
  display: inline;
}

.roles li:last-child::before {
  content: "\25CF";
  font-size: 0.8em;
  color: #fb3;
  display: inline-block;
  margin: 0 0.8em;
}

@media screen and (min-width: 768px) {
  .roles li:last-child::before {
    font-size: 1em;
  }
}

.social {
  margin: 0 0 2em 0;
}

.social li {
  list-style: none;
  display: inline-block;
  font-size: 0;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.social .linkedin {
  background-image: url("../assets/linkedin.svg");
}

.social .github {
  background-image: url("../assets/github.svg");
}

.social .telegram {
  background-image: url("../assets/telegram.svg");
}

@media screen and (min-width: 768px) {
  .social li {
    width: 60px;
    height: 60px;
  }
}

.cv {
  font-size: 1em;
}

.cv a {
  color: #5cb;
  text-decoration: none;
}

.cv a:hover {
  text-decoration: underline;
}